<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div ng-if="step ==0" class="buttons">
      <button class="button button-balanced" ng-click="closeLogin(step)">Close</button>
    </div>
    <div ng-if="step ==1" class="buttons">
      <button class="button button-assertive" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-if="step ==0">
      <div class="padding text-center">
        <img style="max-width: 220px; width:50%;" ng-src="./img/vectron_pos_logo.svg" alt="">
      </div>
      <form ng-if="!isLogin() || forceLogin" ng-submit="doLogin()" class="login-form padding" name="myForm">
        <div class="list">
          <label class="item item-input item-icon-right">
            <span class="input-label">Username</span>
            <input type="text" name="username" ng-model="loginData.username" class="form-control" placeholder="Username" required>
            <i ng-if="myForm.username.$valid" class="icon ion-checkmark-circled balanced"></i>
          </label>
          <label class="item item-input item-icon-right">
            <span class="input-label">Password</span>
            <input type="password" name="password" ng-model="loginData.password" class="form-control" placeholder="Password" required>
            <i ng-if="myForm.password.$valid" class="icon ion-checkmark-circled balanced"></i>
          </label>
          <!--<label class="item item-input item-icon-right">-->
            <!--<span class="input-label">Operator</span>-->
            <!--<input type="text" name="operator" ng-model="loginData.operator" class="form-control" placeholder="Operator" required>-->
            <!--&lt;!&ndash;<input ion-autocomplete type="text" name="operator" ng-model="loginData.operator" readonly="readonly" class="ion-autocomplete" autocomplete="off" max-selected-items="1" items-method="callbackMethod(query) " item-view-value-key="operator" item-value-key="operator" required/>&ndash;&gt;-->
            <!--<i ng-if="myForm.operator.$valid" class="icon ion-checkmark-circled balanced"></i>-->
          <!--</label>-->
          <!--<p>{{loginData | json}}</p>-->
          <p class="assertive text-center" ng-if="error">{{error}}</p>
          <div class="padding">
            <button class="button button-block button-balanced" type="submit">Log in</button>
          </div>
        </div>
      </form>
      <form ng-if="isLogin() && !forceLogin" ng-submit="secretLogin()" class="login-form padding" name="myForm">
        <label class="item item-input item-icon-right">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" class="form-control" placeholder="Password" required>
          <i ng-if="myForm.password.$valid" class="icon ion-checkmark-circled balanced"></i>
        </label>
        <p class="assertive text-center" ng-if="error">{{error}}</p>
        <div class="padding">
          <button class="button button-block button-balanced" type="submit">Log in</button>
          <div class="text-center">
            <a class="button button-small icon-right ion-chevron-right button-clear button-dark" ng-click="doForceLogin()">Switch User</a>
          </div>
        </div>
      </form>
    </div>

    <div class="padding" ng-if="step == 1">
      <form ng-submit="doSetting()" class="login-form padding" name="myForm">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Venue
            </div>
            <select ng-model="loginData.venue_id" ng-init="loginData.venue_id = venue_id?venue_id:venues[0].id" ng-options="venue.id as venue.name for venue in venues"></select>
          </label>
          <label class="item item-input item-icon-right">
            <span class="input-label">Operator/Ref.</span>
            <input type="text" name="operator" ng-model="loginData.operator" ng-init="loginData.operator = operator?operator:''" class="form-control" placeholder="Operator" required>
            <i ng-if="myForm.operator.$valid" class="icon ion-checkmark-circled balanced"></i>
          </label>

          <!-- <p>{{loginData | json}}</p> -->
          <div class="padding">
            <button class="button button-block button-balanced" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
