/* Empty. Add your own CSS if you like */

/***** main page *****/

.padding-20{
    padding: 20px;
}

.error-text i{
    font-size: 16px !important;
}

.join-form .item{
    margin-bottom: 20px;
    border-radius: 14px;
}

.join-form .focused{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
    box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
}

.join-form .blur{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main-footer{
    background: transparent url("../img/vectron_pos_logo.svg") no-repeat 5px center !important;
}

/***** Login Modal *****/

.login-form label input:focus::-webkit-input-placeholder { color:transparent; }

input.form-control:focus{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
    box-shadow: 0px 0px 5px 3px rgba(56,126,243,1);
}

input{
    margin-right: 5px !important;
    padding-left: 3px !important;
}

p.form-error-msg{
    font-size: 12px;
    font-style: italic;
}

/***** Error *****/
ul.alert{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.alert li{
    position: relative;
    background-color: #ef473a;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
}


.alert li > i{
    position: absolute;
    right:5px;
}

/***** Success *****/
ul.success{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.success li{
    position: relative;
    background-color: #33CD60;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
}


.success li > i{
    position: absolute;
    right:5px;
}